@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*-----------Section1------------*/

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.header {
    display: block;
    width: 20px;
    max-width: 100%;
    box-shadow: none;
    position: relative;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
    top: 20px;
}

/*-----------Menu Section1----------*/

#sidebarMenu {
  height: 100%;
  position: fixed;
  right: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(1300px);
  transition: transform 250ms ease-in-out;
  background: black;
}

.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.sidebarIconToggle{
  cursor: pointer;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/*--------End Menu Section1-----------*/

.showcase{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}

.text{
  position: relative;
  z-index: 10;
}

.text h2{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover{
  letter-spacing: 6px;
}

.social{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li{
  list-style: none;
}

.social li a{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a i{
   color: black;
   font-size: 40px;
  }

.social li a:hover{
  transform: scale(0.5) translateY(-15px);
}

/*--------------Section2--------------*/

.explore{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  transition: 0.5s;
  z-index: 2;
}

.images{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.images img{
  width: 90%;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in;
  border-radius: 10px;
}

.images img:hover {
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}


/*--------------Section3--------------*/

.curriculum{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  transition: 0.5s;
  z-index: 2;
}

/*--------------Section4--------------*/

.about{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  transition: 0.5s;
  z-index: 2;
}


/*--------------Section5--------------*/

.contact{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.contact-info{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.card{
  background-color: white;
  padding: 0 20px;
  margin: 0 10px;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 10px;
}

.card-icon{
  font-size: 28px;
  background-color: #B6E5D8;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-ico{
  background: none;
  color: #B6E5D8;
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s liner;
  color: #FFC2C7;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
}

/*
.contact{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background: black;
  transition: 0.5s;
  z-index: 2;
}

.contact-info{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}


.contact-info .card{
  background: white;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon{
  color: #FFC2C7;
}
*/

@media (max-width: 991px){
  .showcase,
  .showcase header
  {
    padding: 20px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
  .row{
    flex-direction: column;
  }
  .card{
    margin-bottom: 10px;
  }
}