@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/*-----------Section1 - Home------------*/

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.showcase{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}

.text{
  position: relative;
  z-index: 10;
}

.text h2{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.social{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li{
  list-style: none;
}

.social li a{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a i{
   color: black;
   font-size: 40px;
  }

.social li a:hover{
  transform: scale(0.5) translateY(-15px);
}

.scrolldown{
  position: absolute;
  bottom: 20px;
  left: 50%;
  background: white;
}

.scrolldown a{
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: white;
  font : normal 400 20px/1 'Poppins', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

#scrolldown a {
  padding-top: 70px;
}

#scrolldown a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/*--------------Space1 - Curriculum--------------*/
.space1{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: 0.5s;
  z-index: 2;
  text-align: center;
}

.heading1 h2 {
  font-size: 32px;
  font-weight: 700;
  color: black;
}

.heading1 .line-dec1 {
  width: 60px;
  height: 3px;
  background-color: black;
  margin: 10px auto;
}

.scrolldown2{
  position: absolute;
  bottom: 20px;
  left: 50%;
  background: black;
}

.scrolldown2 a{
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  font : normal 400 20px/1 'Poppins', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

#scrolldown2 a {
  padding-top: 70px;
}

#scrolldown2 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/*--------------Section2 - Curriculum--------------*/


.curriculum{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  transition: 0.5s;
  z-index: 2;
}

/*--------------Space2 - About me--------------*/

.space2{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: 0.5s;
  z-index: 2;
  text-align: center;
}

/*--------------Section3--------------*/

.about{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  transition: 0.5s;
  z-index: 2;
}

.container{
  width: 100%;
}

.heading {
  text-align: center;
}

.heading h2{
  color: white;
}

.heading span{
  color: white;
}

.heading .line-dec {
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 10px auto;
}

/*--------------Space3 - Contact--------------*/

.space3{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: 0.5s;
  z-index: 2;
  text-align: center;
}

/*--------------Section4--------------*/

.contact{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.contact-info{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.card{
  background-color: white;
  padding: 0 20px;
  margin: 0 10px;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 10px;
}

.card-icon{
  font-size: 28px;
  background-color: #B6E5D8;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-ico{
  background: none;
  color: #B6E5D8;
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s liner;
  color: black;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
}


@media (max-width: 991px){
  .showcase,
  .showcase header
  {
    padding: 20px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
  .social{
    display: none;
  }
  .scrolldown{
    left: 42%;
  }
  .scrolldown2{
    left: 42%;
  }
  .row{
    flex-direction: column;
  }
  .card{
    margin-bottom: 10px;
  }
  .card p{
    opacity: 1;
    transition: none;
  }
}
